{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {% for ticket in tickets %}
            <div class="card col-3 m-2">


                <div class="card-body">
                    <h4 class="card-title"> {{ ticket.titre }} </h4>
                    <p class="card-text"> Person name : {{ ticket.nompersonne }}
                        <br>Description : {{ ticket.description }}
                        <br>Statut : {{ ticket.statut }}
                        <br>Date : {{ ticket.date }}
                    </p>

                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}